<div class="row">
  <div class="column-center">
    <button class="button-outline" (click)="updateCars()">Load Car Year Calendar</button>
  </div>
</div>
<div class="row">
  <div class="column">
    <table>
      <thead>
      <tr>
        <th>Manufacturer</th>
        <th>Model</th>
        <th>Year</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let car of cars" (click)="onSelect($event)">
        <td>{{car.manufacturer}}</td>
        <td>{{car.model}}</td>
        <td>{{car.year}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
